/**
 * Core
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@page {
  size: A4;
  margin: 0;
}
body {
  width: max-content;
  min-width: fit-content;
  padding: var(--dimension-section-gap);
  background-color: var(--color-purple-50);
  gap: var(--dimension-section-gap);
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  cursor: grab;
}
body.is-panning {
  cursor: grabbing
}
section {
  gap: var(--dimension-section-gap);
  align-items: flex-start;
  justify-content: flex-start;
  display: flex
}
.page {
  width: 210mm;
  height: 297mm;
  max-height: 297mm;
  padding: 28px;
  gap: var(--dimension-page-padding);
  background: #fff;
  font-family: var(--font-body);
  font-weight: 400;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 210mm;
  box-shadow: 0 0 18px rgba(0, 0, 0, .2);
}

/**
 * Code
 */
.code pre,
.code pre code {
  font-family: var(--font-code);
}

/**
 * Cheats
 */
article {
  background-color: #fff;
  border-radius: var(--dimension-border-radius);
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  overflow: auto;
  position: relative;
}
article:last-child {
  margin: 0;
}

/**
 * Bullets
 */
article ul {
  margin: var(--dimension-page-padding) 0 0;
  gap: var(--dimension-page-padding);
  list-style: none;
  align-items: center;
  display: flex
}
article ul li {
  color: #fff;
  font-family: var(--font-code);
  background: var(--color-blue-100);
  border-radius: 6px;
}

/**
 * Notes
 */
article aside {
  width: 100%;
  color: #fff;
  font-family: var(--font-code);
  background: var(--color-orange-100);
  border-radius: 0 0 var(--dimension-border-radius);
  left: 0;
  bottom: 0;
  position: absolute;
}

/**
 * Typography
 */
h1 {
  font-family: var(--font-body);
  color: var(--color-green-100);
  font-weight: 900;
}
p {
  line-height: 1.4;
}



/**
 * Print
 */
@media print {
  body {
    width: 210mm;
    min-width: auto;
    height: auto;
    padding: 0;
    background-color: #ffffff;
    gap: 0;
    display: block;
  }
  section {
    gap: 0;
    display: block;
    page-break-after: always;
  }
  .page {
    box-shadow: none;
    page-break-after: always;
  }
}