:root {
  /* Fonts */
  --font-body: "Roboto", sans-serif;
  --font-code: "Ubuntu Mono", monospace;

  /* Colours */
  --color-purple-100: #8053b0;
  --color-purple-50: #b69ecf;
  --color-purple-10: #f1eff3;
  --color-green-100: #1bbe73;
  --color-blue-100: #0266d6;
  --color-grey-100: #717b8d;

  /* Dimensions */
  --dimension-section-gap: 70px;
  --dimension-page-padding: 16px;
  --dimension-border-radius: 12px;

  /* Top */
  --dimension-top-h1: 57px;
  --dimension-top-p: 37px;
  --dimension-top-code: var(--dimension-top-p);
  --dimension-top-aside: 24px;

  /* Middle */
  --dimension-middle-h1: 49px;
  --dimension-middle-p: 29px;
  --dimension-middle-code: var(--dimension-middle-p);
  --dimension-middle-aside: 24px;
}